name: Build, Test And Publish

on:
  push:
    branches: [ main, develop ]
    tags: 
      - '**'
  pull_request:
    branches: [ main, develop ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.18

    - name: Check out code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Static Test
      uses: dominikh/staticcheck-action@v1.1.0
      with:
        version: "2021.1.1"
        install-go: false

    - name: Test
      run: make test

    - name: Docker push
      env:
        DOCKER_USER: ${{ secrets.DOCKERHUB_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_SECRET }}
      run: ./scripts/docker-push.sh